#titulo_registro {
	margin: 6%;
	text-align: center;
}

#no_acumulados_box, #si_acumulados_box {
	background-color: #e6e6e6;
	border-radius: 25px;
	margin: 1vw;
	padding: 1vw;
}

#si_acumulados_controllers {
	align-items: flex-end;
}

#registrar_btn {
	width: 100%;
}