.button.secondary {
	background-color: #a6a6a6;
	color: #fefefe;
	margin-left: 8%;
	margin-right: 8%;
}

#textModal, #textFeedback {
	text-align: center;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Modal Content */
.modal-content {
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 60px;
  min-width: 280px;
  max-width: 600px;
  padding: 30px;
}

/* #bfbfbf, *7