<!DOCTYPE html>
<html  lang="es">
	<head>
		<title>Gerencia Legal</title>
		<meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="icon" type="image/png" href="images/logo_amdc.png">
	    <link rel="stylesheet" href="css/foundation.css">
	    <link rel="stylesheet" href="css/app.css">
	    <link rel="stylesheet" href="css/header.css">
	    <link rel="stylesheet" href="css/footer.css">
	    <link rel="stylesheet" href="css/buscar.css">
	    <script src="js/angular.min.js"></script>
  </head>

	<body>
		<header>
		</header>

		<div class="title-bar" data-responsive-toggle="gsl-menu" data-hide-for="medium">
				<button class="menu-icon" type="button" data-toggle></button>
			  	<div class="title-bar-title">Menu</div>
			</div>

			<div class="top-bar" id="gsl-menu">
			  	<div class="top-bar-left">
			    	<ul class="dropdown menu" data-dropdown-menu>
			      		<li style="flex-basis: 60px" title="inicio"><a href="index.html"><span><img src="images/blue-home-icon.png" width="100%"></span></a></li>
			      		<li class="has-submenu">
			        		<a href="#0">Crear ficha de entrada</a>
					        <ul class="submenu menu vertical" data-submenu>
						        <li><a href="formularios/expedientes/nueva_ficha_expedientes.html#titulo_registro">De expedientes</a></li>
						        <li><a href="formularios/opiniones/nueva_ficha_opiniones.html#titulo_registro">De opiniones</a></li>
						        <li><a href="formularios/patronatos/nueva_ficha_patronatos.html#titulo_registro">De patronatos</a></li>
					        </ul>
					    </li>
					    <li><a href="#0">Dar seguimiento</a>
					    	<ul class="submenu menu vertical" data-submenu>
						        <li><a href="seguimiento/seguimiento_expedientes.html#titulo_seguimiento">A expedientes</a></li>
						        <li><a href="seguimiento/seguimiento_opiniones.html#titulo_seguimiento">A opiniones</a></li>
						        <li><a href="seguimiento/seguimiento_patronatos.html#titulo_seguimiento">A patronatos</a></li>
					        </ul>
					    </li>
					    <li><a href="buscar.html">Buscar</a></li>
					    <li><a href="archivar.html">Archivar</a></li>
					    <li><a href="modulo_administrador.html">Opciones de Administrador</a></li>
			    	</ul>
				</div>
			</div>

			<!-----------------------------Fin del top Bar------------------------------->
			<form class="grid-container full" ng-app="searchApp" ng-controller="searchCtrl" ng-init="populateSelects()">
				<div class="grid-x grid-padding-x" id="buscador_principal">
					<div class="medium-1 small-10 cell">
						<label>Buscar por:</label>
			      	</div>
					<div class="medium-3 small-12 cell">
                		<select id="tipo_busqueda_select" name="tipo_busqueda_select" ng-model="tipo_busqueda_select" ng-change="limpiarParametrosDeBusqueda()">
		                	<option value="exp" checked>Expedientes</option>
		                	<option value="opn">Opiniones</option>
		                	<option value="ptt">Patronatos</option>
		                	<option value="dcm">Dictamenes</option>
                		</select>
              		</div>
					<div class="medium-6 small-10 cell">
						<fieldset><input type="search" placeholder="Buscar" id="buscar_input" name="buscar_input" ng-model="buscar_input"></fieldset>
			      	</div>
			      	<div class="medium-2 small-2 cell">
			      		<fieldset><button type="button" class="button" id="search_btn" ng-click="ValidarBusqueda()">Buscar</button></fieldset>
			      	</div>
	      		</div>

	      		<div class="grid-x">
	      			<div class="medium-3 small-12 cell" id="menu_lateral">
	      				<div class="grid-x grid-padding-x">
							<div class="small-12 cell">
								<h3 id="titulo_menu_lateral">Parametros de Busqueda</h3>
							</div>
						</div>
	      				<div class="accordion" data-accordion>
	      					<div class="accordion-item is-active" data-accordion-item>
	      						<a href="#" class="accordion-title"><h5>Busquda por parametros de fichas</h5></a>
	      						<div class="accordion-content" data-tab-content >
	      							<div class="grid-x grid-padding-x">
										<div class="small-12 cell search_param">
											<input type="radio" name="parametro_busqueda" value="numExpediente" ng-model="parametro_busqueda"><label>Por número de expediente | oficio | Dictamen</label>
										</div>
										<div class="small-12 cell search_param" ng-show="tipo_busqueda_select=='exp'||tipo_busqueda_select=='ptt'">
											<input type="radio" name="parametro_busqueda" value="interesado" ng-model="parametro_busqueda"><label>Por nombre del interesado</label>
										</div>
										<div class="small-12 cell search_param">
											<input type="radio" name="parametro_busqueda" value="apoderadoLegal" ng-model="parametro_busqueda"><label>Por apoderado Legal</label>
										</div>
										<div class="small-12 cell search_param">
											<input type="radio" name="parametro_busqueda" value="procedencia" ng-change="copyProcedenciaValue()" ng-model="parametro_busqueda"><label>Por procedencia</label>
			                				<select id="procedencia_select" name="procedencia_select" ng-model="procedencia_select" ng-change="copyProcedenciaValue()" ng-options="x.nombreDependencia for x in dependenciaList"></select>
										</div>
										<div class="small-12 cell search_param">
											<input type="radio" name="parametro_busqueda" value="empleadoReceptor" ng-change="copyEmpleadoReceptorValue()" ng-model="parametro_busqueda"><label>Por empleado receptor</label>
					                		<select id="empleado_receptor_select" name="empleado_receptor_select" ng-model="empleado_receptor_select" ng-change="copyEmpleadoReceptorValue()" ng-options="x.nombreEmpleado for x in empleadoReceptorList"></select>
										</div>
										<div class="small-12 cell search_param">
											<input type="radio" name="parametro_busqueda" value="asunto" ng-change="copyAsuntoValue()" ng-model="parametro_busqueda"><label>Por asunto</label>
					                		<select id="asunto_select" name="asunto_select" ng-model="asunto_select" ng-change="copyAsuntoValue()" ng-options="x.nombreAsunto for x in asuntoList" ng-show="tipo_busqueda_select=='exp'"></select>
										</div>
										<div class="small-12 cell search_param">
											<input type="radio" name="parametro_busqueda" value="abogadoAsignado" ng-change="copyAbogadoAsignadoValue()" ng-model="parametro_busqueda"><label>Por abogado asignado</label>
					                		<select id="abogado_asignado_select" name="abogado_asignado_select" ng-model="abogado_asignado_select" ng-change="copyAbogadoAsignadoValue()" ng-options="x.nombreEmpleado for x in abogadoAsignadoList"></select>
										</div>
										<div class="small-12 cell search_param" ng-show="tipo_busqueda_select=='exp'||tipo_busqueda_select=='ptt'">
											<input type="radio" name="parametro_busqueda" value="dependenciaRemision" ng-change="copyDependicaRemisionValue()" ng-model="parametro_busqueda"><label>Por dependencia de remisión</label>
											<select id="dependencia_remision_select" name="dependencia_remision_select" ng-model="dependencia_remision_select" ng-change="copyDependicaRemisionValue()" ng-options="x.nombreDependencia for x in dependenciaList">
			                				</select>
										</div>
										<div class="small-12 cell search_param">
											<input type="radio" name="parametro_busqueda" value="estadoExpediente" ng-change="copyEstadoExpedienteValue()" ng-model="parametro_busqueda"><label>Por estado de expediente</label>
											<select id="estado_expediente_select" name="estado_expediente_select" ng-model="estado_expediente_select" ng-change="copyEstadoExpedienteValue()" ng-options="x.nombreEstado for x in estadoExpedienteList">
			                				</select>
										</div>
										<div class="small-12 cell search_param">
											<input type="checkbox" id="usar_fechas" name="usar_fechas" ng-model="usar_fechas"><label>Combinar la busqueda con fechas</label>
										</div>
									</div>
									<div class="grid-x" ng-show="usar_fechas">
										<div class="grid-x grid-padding-x">
											<div class="small-6 cell search_param">
												<input type="radio" name="tipo_fecha1" value="fecha_especifica" checked ng-model="tipo_fecha1"><label>Fecha específica</label>
											</div>
											<div class="small-6 cell search_param">
												<input type="radio" name="tipo_fecha1" value="fecha_rango" ng-model="tipo_fecha1"><label>Rango de fechas</label>
											</div>
										</div>
										<div class="grid-x grid-padding-x" ng-show="tipo_fecha1=='fecha_especifica'">	
											<div class="small-12 cell search_param">
												<label>Fecha específica:</label>
												<input type="date" name="fecha_dia1" id="fecha_dia1" ng-model="fecha_dia1">
											</div>
										</div>
										<div class="grid-x grid-padding-x" ng-show="tipo_fecha1=='fecha_rango'">	
											<div class="small-12 cell">
												<label>Fecha de inicio:</label>
												<input type="date" name="fecha_inicio1" id="fecha_inicio1" ng-model="fecha_inicio1">
											</div>
											<div class="small-12 cell search_param">
												<label>Fecha de finalización:</label>
												<input type="date" name="fecha_fin1" id="fecha_fin1" ng-model="fecha_fin1">
											</div>
										</div>
									</div>
    							</div>
	      					</div>
	      					<div class="accordion-item" data-accordion-item>
	      						<a href="#" class="accordion-title"><h5>Busqueda por Fecha De:</h5></a>
	      						<div class="accordion-content" data-tab-content >
	      							<div class="grid-x grid-padding-x">
										<div class="small-12 cell">
											<h5 id="titulo_menu_fecha">Por Fecha De:</h5>
										</div>
										<div class="small-12 cell">
											<input type="radio" name="parametro_busqueda" value="fechaEntrada" ng-model="parametro_busqueda"><label>Entrada</label>
										</div>
										<div class="small-12 cell">
											<input type="radio" name="parametro_busqueda" value="fechaAsignacion" ng-model="parametro_busqueda"><label>Asignación</label>
										</div>
										<div class="small-12 cell">
											<input type="radio" name="parametro_busqueda" value="fechaDescargo" ng-model="parametro_busqueda"><label>Descargo</label>
										</div>
										<div class="small-12 cell">
											<input type="radio" name="parametro_busqueda" value="fechaRevision" ng-model="parametro_busqueda"><label>Revisión</label>
										</div>
										<div class="small-12 cell search_param">
											<input type="radio" name="parametro_busqueda" value="fechaRemision" ng-model="parametro_busqueda"><label>Remisión</label>
										</div>
									</div>
									<div class="grid-x grid-padding-x">
										<div class="small-6 cell search_param">
											<input type="radio" name="tipo_fecha2" value="fecha_especifica" checked ng-model="tipo_fecha2"><label>Fecha específica</label>
										</div>
										<div class="small-6 cell search_param">
											<input type="radio" name="tipo_fecha2" value="fecha_rango" ng-model="tipo_fecha2"><label>Rango de fechas</label>
										</div>
									</div>
									<div class="grid-x grid-padding-x" ng-show="tipo_fecha2=='fecha_especifica'">	
										<div class="small-12 cell search_param">
											<label>Fecha específica:</label>
											<input type="date" name="fecha_dia2" id="fecha_dia2" ng-model="fecha_dia2">
										</div>
									</div>
									<div class="grid-x grid-padding-x" ng-show="tipo_fecha2=='fecha_rango'">	
										<div class="small-12 cell">
											<label>Fecha de inicio:</label>
											<input type="date" name="fecha_inicio2" id="fecha_inicio2" ng-model="fecha_inicio2">
										</div>
										<div class="small-12 cell search_param">
											<label>Fecha de finalización:</label>
											<input type="date" name="fecha_fin2" id="fecha_fin2" ng-model="fecha_fin2">
										</div>
									</div>
    							</div>
	      					</div>
	      				</div>
	
			      	</div>
			      	<div class="medium-9 small-12 cell">
						<div class="grid-x">
							<div class="small-12 cell">
								<table  id="tabla_expedientes">
									<thead>
							    		<tr>
								    		<th>Expediente</th>
								      		<th>Procedencia</th>
								      		<th>Asunto</th>
								      		<th>Fecha de entrada</th>
								      		<th>Abogado Asignado</th>
								      		<th>Especificaciones</th>
								    	</tr>
							  		</thead>
								  	<tbody>
								    	<tr ng-repeat="x in resultadosList track by $index">
								    		<td>{{x.numExpediente}}</td>
								    		<td>{{x.nombreProcedencia}}</td>
								    		<td>{{x.nombreAsunto}}</td>
								    		<td>{{x.fechaEntrada}}</td>
								    		<td>{{x.nombreAbogadoAsignado}}</td>
								    		<td><button type="button" class="button secondary" ng-click="verDetalles(x.idficha)">Ver Detalles</button></td>
								    	</tr>
								  	</tbody>
								</table>
							</div>
						</div>
			      	</div>

	      		</div>

			</form>

			<div class="reveal" id="ficha_detalle" data-reveal>
				<h1>Información de Registro</h1>
				<p class="lead">Aquí ira toda la información relacionada a los expedientes, opiniones o patronatos recibidos</p>
				<p></p>
				<button class="close-button" data-close aria-label="Close reveal" type="button">
					<span aria-hidden="true">&times;</span>
			  	</button>
			</div>

		<footer>
		</footer>

		<script src="js/vendor/jquery.js"></script>
	    <script src="js/vendor/what-input.js"></script>
	    <script src="js/vendor/foundation.js"></script>
	    <script src="js/app.js"></script>
	    <script src="js/header.js"></script>
	    <script src="js/footer.js"></script>
	    <script src="js/barraMenu.js" type="text/javascript"></script>
	    <script src="js/applications/searchApp.js" type="text/javascript"></script>
	    <script src="js/services/urlUtility.js" type="text/javascript"></script>
	    <script src="js/controllers/busqueda/buscar.js" type="text/javascript"></script>
	    <script type="text/javascript">

	    	window.onload = function(){
	    		loadHeader();
	    		loadFooter();

	    	}
	    </script>
	</body>
</html>