<!DOCTYPE html>
<html  lang="es">
	<head>
		<title>Gerencia Legal</title>
		<meta name="author" content="Shirley Claudette Martínez">
		<meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="icon" type="image/png" href="/images/logo_amdc.png">
	    <link rel="stylesheet" href="/css/foundation.css">
	    <link rel="stylesheet" href="/css/app.css">
	    <link rel="stylesheet" href="/css/header.css">
	    <link rel="stylesheet" href="/css/footer.css">
	    <link rel="stylesheet" href="/css/modal.css">
	    <link rel="stylesheet" href="/css/pagination.css">
	    <link rel="stylesheet" href="/css/seguimiento.css">
	    <script src="/js/angular.min.js"></script>
  	</head>

	<body ng-app="seguimientoApp" ng-controller="seguimientoCtrl">
		<header>
		</header>

		<div class="title-bar" data-responsive-toggle="gsl-menu" data-hide-for="medium">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
		</div>

		<div class="top-bar" id="gsl-menu">
			<div class="top-bar-left">
			    <ul class="dropdown menu" data-dropdown-menu>
			      	<li style="flex-basis: 60px" title="inicio">
			      		<a href="/inicio"><span><img src="/images/blue-home-icon.png" width="100%"></span></a>
			      	</li>
			      	<li class="has-submenu" ng-show="privilegios.indexOf('rcb')!=-1">
			        	<a href="#0">Crear ficha de entrada</a>
					    <ul class="submenu menu vertical" data-submenu>
						    <li><a href="/expedientes/nueva_ficha_expedientes#titulo_registro">De expedientes</a></li>
						    <li><a href="/opiniones/nueva_ficha_opiniones#titulo_registro">De opiniones</a></li>
						    <li><a href="/patronatos/nueva_ficha_patronatos#titulo_registro">De patronatos</a></li>
					    </ul>
					</li>
					<li ng-show="privilegios.indexOf('asng')!=-1||privilegios.indexOf('dscg')!=-1||privilegios.indexOf('rvsexp')!=-1||privilegios.indexOf('rvsopn')!=-1||privilegios.indexOf('rvsptt')!=-1||privilegios.indexOf('rmt')!=-1||privilegios.indexOf('rngpre')!=-1">
						<a href="#0">Dar seguimiento</a>
					    <ul class="submenu menu vertical" data-submenu>
						    <li ng-show="privilegios.indexOf('asng')!=-1||privilegios.indexOf('dscg')!=-1||privilegios.indexOf('rvsexp')!=-1||privilegios.indexOf('rmt')!=-1||privilegios.indexOf('rngpre')!=-1"><a href="/seguimiento_expedientes#titulo_seguimiento">A expedientes</a></li>
						    <li ng-show="privilegios.indexOf('asng')!=-1||privilegios.indexOf('dscg')!=-1||privilegios.indexOf('rvsopn')!=-1||privilegios.indexOf('rmt')!=-1"><a href="/seguimiento_opiniones#titulo_seguimiento">A opiniones</a></li>
						    <li ng-show="privilegios.indexOf('asng')!=-1||privilegios.indexOf('dscg')!=-1||privilegios.indexOf('rvsptt')!=-1||privilegios.indexOf('rmt')!=-1"><a href="/seguimiento_patronatos#titulo_seguimiento">A patronatos</a></li>
					    </ul>
					</li>
					<li ng-show="privilegios.indexOf('vslz')!=-1"><a href="/buscar">Buscar</a></li>
					<li ng-show="privilegios.indexOf('rcb')!=-1||privilegios.indexOf('asng')!=-1||privilegios.indexOf('dscg')!=-1||privilegios.indexOf('rvsexp')!=-1||privilegios.indexOf('rvsopn')!=-1||privilegios.indexOf('rvsptt')!=-1||privilegios.indexOf('rmt')!=-1||privilegios.indexOf('rngpre')!=-1"><a href="/modificacion">Modificar Fichas</a></li>
					<li ng-show="privilegios.indexOf('admin')!=-1"><a href="/modulo_administrador">Opciones de Administrador</a></li>
					<li id="userOptions"><a href="#0"><span><img src="/images/user.png" width="30px" id="img-user"></span><%= nombreEmpleado %></a>
					    <ul class="submenu menu vertical" data-submenu>
						    <li><a href="/">Cerrar Sesión</a></li>
						    <li><a href="/usuario/cambiar_password#titulo">Cambiar contraseña</a></li>
					    </ul>
					</li>
			    </ul>
			</div>
		</div>

		<!-----------------------------Fin del top Bar------------------------------->
			<div class="grid-container grid-padding-x">
      			<div class="grid-x grid-padding-x">
        			<div class="large-12 cell">
          				<h3 id="titulo_seguimiento">Seguimiento de Patronatos</h3>
        			</div>
      			</div>
      		</div>
      		<div>
	      		<form class="grid-container full">
					<div class="grid-x grid-padding-x" id="buscador_principal">
						<div class="small-6 medium-2 cell" id="buscar_por_label">
							<label>Buscar por número de expediente:</label>
				      	</div>
						<div class="small-6 medium-8 cell">
							<fieldset><input type="search" placeholder="Escriba el número de expediente del patronato" name="num_expediente" id="num_expediente" ng-model="num_expediente"></fieldset>
				      	</div>
				      	<div class="small-12 medium-2 cell">
				      		<fieldset><button type="button" class="button" id="search_btn" ng-click="mostrarPatronato()">Buscar</button></fieldset>
				      	</div>
		      		</div>
		      		<div class="grid-x grid-padding-x">
		      			<fieldset class="medium-3 small-12 cell" ng-show="privilegios.indexOf('asng')!=-1">
			            	<button type="button" id="asignar_btn" class="button secondary" ng-click="contarPatronatosRecibidos()">Asignar</button>
			            </fieldset>
			            <fieldset class="medium-3 small-12 cell" ng-show="privilegios.indexOf('dscg')!=-1">
			            	<button type="button" id="descargar_btn" class="button secondary" ng-click="contarPatronatosAsignados()">Descargar</button>
			            </fieldset>
			            <fieldset class="medium-3 small-12 cell" ng-show="privilegios.indexOf('rvsptt')!=-1">
			            	<button type="button" id="revisar_btn" class="button secondary" ng-click="contarPatronatosDescargados()">Revisar</button>
			            </fieldset>
			            <fieldset class="medium-3 small-12 cell" ng-show="privilegios.indexOf('rmt')!=-1">
			            	<button type="button" id="remitir_btn" class="button secondary" ng-click="contarPatronatosRevisados()">Remitir</button>
			            </fieldset>
		      		</div>
		      		
		      	</form>
		      	<div class="grid-container fluid">
		      		<div class="grid-x grid-padding-x">
		      			<div class="small-12 cell">
		      				<table  id="tabla_principal">
								<thead>
							    	<tr>
							    		<th>Expediente</th>
							      		<th>Comunidad</th>
							      		<th>Asunto</th>
							      		<th>Fecha de entrada</th>
							      		<th>Abogado Asignado</th>
							      		<th>Listo Para</th>
							    	</tr>
							  	</thead>
							  	<tbody>
							    	<tr ng-repeat="x in patronatosList track by $index">
							    		<td>{{x.numExpediente}}</td>
							    		<td>{{x.comunidad}}</td>
							    		<td>{{x.nombreAsunto}}</td>
							    		<td>{{x.fechaEntrada}}</td>
							    		<td>{{x.nombreAbogadoAsignado}}</td>
							    		<td><button type="button" class="button secondary" ng-click="darSeguimientoPatronato(x.idficha)">{{textoBoton}}</button></td>
							    	</tr>
							  	</tbody>
							</table>
		      			</div>
		      		</div>
		      		<div class="grid-x" ng-show="totalPaginas>0">
						<div class="small-12 cell center">
							<div class="pagination">
								<button ng-click="volverPagina()">Previo</button>
								<button id="pagina1" ng-click="irPagina1()" ng-bind="pagina1" class="active"></button>
								<button ng-show="numeroPagina>2&&totalPaginas>3">...</button>           
								<button id="pagina2" ng-click="irPagina2()" ng-bind="pagina2" ng-show="totalPaginas>1"></button>
								<button ng-show="numeroPagina<totalPaginas-1&&totalPaginas>3">...</button>
								<button id="ultimaPagina" ng-click="irUltimaPagina()" ng-bind="totalPaginas" ng-show="totalPaginas>2"></button>
								<button ng-click="adelantarPagina()">Siguiente</button>
							</div>
						</div>
					</div>
		      	</div>
		      	<div id="myModal" class="modal">
					<div id="myContent" class="modal-content">
						<p id="textModal">{{modalMessage}}</p>
					    <div class="grid-x grid-padding-x">
						   	<fieldset class="small-12 cell">
							    <div class="center">
							        <button class="button secondary" type="submit" value="Submit" ng-click="closeModal()">Aceptar</button>	
							    </div>
						   	</fieldset>
					   	</div>
					</div>
				</div>
	      	</div>

		<footer>	
		</footer>

		<script src="/js/vendor/jquery.js"></script>
	    <script src="/js/vendor/what-input.js"></script>
	    <script src="/js/vendor/foundation.js"></script>
	    <script src="/js/app.js"></script>
	    <script src="/js/header.js"></script>
	    <script src="/js/footer.js"></script>
	    <script src="/js/applications/seguimientoApp.js" type="text/javascript"></script>
	    <script src="/js/controllers/seguimiento/seguimiento_patronatos.js"></script>
	    <script type="text/javascript">

	    	window.onload = function(){
	    		loadHeader();
	    		loadFooter();

	    	}
	    </script>
	</body>
</html>