<!DOCTYPE html>
<html  lang="es">
	<head>
		<title>Gerencia Legal</title>
		<meta name="author" content="Shirley Claudette Martínez">
		<meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="icon" type="image/png" href="../../images/logo_amdc.png">
	    <link rel="stylesheet" href="../../css/foundation.css">
	    <link rel="stylesheet" href="../../css/app.css">
	    <link rel="stylesheet" href="../../css/header.css">
	    <link rel="stylesheet" href="../../css/footer.css">
	    <link rel="stylesheet" href="../../css/formulario_fichas.css">
	    <link rel='stylesheet' href='../../loading-bar/loading-bar.min.css' type='text/css' media='all' />
	    <script src="../../js/angular.min.js"></script>
  </head>

	<body>
		<header>
			<h1>Gerencia de Servicios Legales</h1>
			<img src="images/logo_amdc.png">
		</header>

		<div class="title-bar" data-responsive-toggle="gsl-menu" data-hide-for="medium">
				<button class="menu-icon" type="button" data-toggle></button>
			  	<div class="title-bar-title">Menu</div>
			</div>

			<div class="top-bar" id="gsl-menu">
			<div class="top-bar-left">
			    <ul class="dropdown menu" data-dropdown-menu>
			      	<li style="flex-basis: 60px" title="inicio">
			      		<a href="../../index.html"><span><img src="../../images/blue-home-icon.png" width="100%"></span></a>
			      	</li>
			      	<li class="has-submenu">
			        	<a href="#0">Crear ficha de entrada</a>
					    <ul class="submenu menu vertical" data-submenu>
						    <li><a href="../expedientes/nueva_ficha_expedientes.html#titulo_registro">De expedientes</a></li>
						    <li><a href="../opiniones/nueva_ficha_opiniones.html#titulo_registro">De opiniones</a></li>
						    <li><a href="nueva_ficha_patronatos.html#titulo_registro">De patronatos</a></li>
					    </ul>
					</li>
					<li><a href="#0">Dar seguimiento</a>
					    <ul class="submenu menu vertical" data-submenu>
						    <li><a href="../../seguimiento/seguimiento_expedientes.html#titulo_seguimiento">A expedientes</a></li>
						    <li><a href="../../seguimiento/seguimiento_opiniones.html#titulo_seguimiento">A opiniones</a></li>
						    <li><a href="../../seguimiento/seguimiento_patronatos.html#titulo_seguimiento">A patronatos</a></li>
					    </ul>
					</li>
					<li><a href="../../buscar.html">Buscar</a></li>
					<li><a href="../../modulo_administrador.html">Opciones de Administrador</a></li>
			    </ul>
			</div>	
		</div>

		<!--------------------------Fin del top Bar--------------------------------------------------->
		<div class="grid-container grid-padding-x">
      		<div class="grid-x grid-padding-x">
        		<div class="large-12 cell">
          			<h3 id="titulo_registro">Registar entrada de Patronatos</h3>
        		</div>
      		</div>
      	</div>

      	<form class="grid-container grid-padding-x" ng-app="formApp" ng-controller="formCtrl">
      		<div class="grid-x grid-padding-x" ng-show="urlParams.mod==1">
        		<div class="large-12 cell">
          			<h6 id="titulo_mod">Formulario de Modificación</h6>
        		</div>
      		</div>
            <div class="grid-x grid-padding-x">
            	<div class="medium-6 small-12 cell medium-offset-3">
                	<label>Interesado(a): <input type="text" placeholder="Nombre del interesado" id="interesado" name="interesado" ng-model="interesado"/></label> 
              	</div>
            </div>
            <div class="grid-x grid-padding-x">
            	<div class="medium-6 small-12 cell medium-offset-3">
                	<label>Apoderado(a) Legal (opcional): <input type="text" placeholder="Nombre del abogado que lleva el caso" id="apoderado" name="apoderado" ng-model="apoderado"/></label> 
              	</div>
            </div>

            <div class="grid-x grid-padding-x">
              	<div class="medium-6 small-12 cell medium-offset-3">
                	<label>Procedencia:</label>
                	<select id="procedencia_select" name="procedencia_select" ng-model="procedencia_select" ng-options="x.nombreDependencia for x in dependenciaList"></select>
              	</div>
            </div>

            <div class="grid-x grid-padding-x">
              	<div class="medium-6 small-12 cell medium-offset-3">
              		<label>Recibido Por:</label>
                	<select id="empleado_receptor_select" name="empleado_receptor_select" ng-model="empleado_receptor_select" ng-options="x.nombreEmpleado for x in empleadoReceptorList"></select>
              	</div>
            </div>

            <div class="grid-x grid-padding-x">
              	<div class="medium-6 small-12 cell medium-offset-3">
              		<label>Asunto del patronato:</label>
			        <select id="asunto_patronato_select" name="asunto_patronato_select" ng-model="asunto_patronato_select" ng-options="x.nombreAsuntoPatronato for x in asuntoPatronatoList">
			        </select>
              	</div>
            </div>

	        <div id="inscripcion_box" ng-show="asunto_patronato_select.idAsuntoPatronato==1">
	            <div class="grid-x grid-padding-x">
	            	<div class="small-12 cell">
	                	<h5>Parametros Para Generar Número de Expediente de Inscripción</h5> 
	              	</div>
	            </div>
		        <div class="grid-x grid-padding-x">	
			        <div class="medium-4 small-12 cell">
				        <label>Municipio del Patronato:</label>
				        <select id="municipio1_select" name="municipio1_select" ng-model="municipio1_select" ng-options="x.nombreMunicipio for x in municipioList">
				        </select>
				    </div>

				    <div class="medium-4 small-12 cell">
				        <label>Tipo de Comunidad:</label>
				        <select id="tipo_comunidad1_select" name="tipo_comunidad1_select" ng-model="tipo_comunidad1_select" ng-options="x.nombreTipoComunidad for x in tipoComunidadList">
				        </select>
				    </div>

				    <div class="medium-4 small-12 cell">
				        <label>Nombre de la comunidad:</label>
				        <input type="text" list="comunidades1" id="comunidad1" ng-model="comunidad1" name="comunidad1" ng-change="actualizarComunidadesList1()">
				        <datalist id="comunidades1">
							<option ng-repeat="x in comunidadesList track by $index" value="{{x.nombreComunidad}}">
						</datalist>
				    </div>
		        </div>
		        <div class="grid-x grid-padding-x">
		           	<div class="medium-4 small-12 cell">
		              	<label>año del Proceso Legal:</label>
		              	<input type="number" ng-model="anio_proceso_ins" value="2000" min="1990" max="3999" id="anio_proceso" name="anio_proceso_ins">
		            </div>

		            <div class="medium-4 small-12 cell">
		              	<label>Periodo de Validez:</label>
		              	<input type="number" ng-model="periodo_validez_ins" value="0" min="0" max="10" id="periodo_validez_ins" name="periodo_validez_ins">
		            </div>

		            <div class="medium-4 small-12 cell">
		              	<label>Folios:</label>
		              	<input type="number" ng-model="folios_ins" value="2000" min="0" id="folios_ins" name="folios_ins">
		            </div>
		        </div>
	        </div>

	        <div id="impugnacion_box" ng-show="asunto_patronato_select.idAsuntoPatronato==2">
		        <div class="grid-x grid-padding-x" id="si_acumulados_controllers"> 
		            <fieldset class="medium-2 small-12 cell">
		              	<button type="button" id="add_exp_btn" class="button secondary" ng-click="agregarExpediente()">Agregar Expediente</button>
		            </fieldset>

		            <fieldset class="medium-3 small-12 cell">
		              	<button type="button" id="delete_last_btn" class="button secondary" ng-click="eliminarUltimoExpediente()">Eliminar último expediente</button>
		            </fieldset>
		            <fieldset class="medium-2 small-12 cell">
		              	<input type="number" name="numAcumulados" id="numAcumulados" value="1" style="display: none" ng-model="numAcumulados">
		            </fieldset>
		        </div>
		        <div class="grid-x grid-padding-x">
	            	<div class="small-12 cell">
	                	<h5>Parametros Para Generar Número de Expediente de Inscripción</h5> 
	              	</div>
	            </div>
		        <div class="grid-x grid-padding-x">
  						
		            <div class="medium-4 small-12 cell">
			            <label>Municipio del Patronato:</label>
			            <select id="municipio2_select" name="municipio2_select" ng-model="municipio2_select" ng-options="x.nombreMunicipio for x in municipioList">
			            </select>
			        </div>

			        <div class="medium-4 small-12 cell">
			            <label>Tipo de Comunidad:</label>
			            <select id="tipo_comunidad2_select" name="tipo_comunidad2_select" ng-model="tipo_comunidad2_select" ng-options="x.nombreTipoComunidad for x in tipoComunidadList">
			            </select>
			        </div>

			        <div class="medium-4 small-12 cell">
			            <label>Nombre de la comunidad:</label>
			           	<input type="text" list="comunidades2" id="comunidad2" ng-model="comunidad2" name="comunidad2" ng-change="actualizarComunidadesList2()">
			           	<datalist id="comunidades2">
							<option ng-repeat="x in comunidadesList track by $index" value="{{x.nombreComunidad}}">
						</datalist>
			        </div>

		        </div>
		        <div class="grid-x grid-padding-x">
		            <div class="medium-4 small-12 cell">
		              	<label>año del Proceso Legal:</label>
		              	<input type="number" ng-model="anio_proceso_imp" value="2000" min="1990" max="3999" id="anio_proceso_imp" name="anio_proceso_imp">
		            </div>

		            <div class="medium-4 small-12 cell">
		              	<label>Periodo de Validez:</label>
		              	<input type="number" ng-model="periodo_validez_imp" value="0" min="0" max="10" id="periodo_validez_imp" name="periodo_validez_imp">
		            </div>

		            <div class="medium-4 small-12 cell">
		              	<label>Folios:</label>
		              	<input type="number" ng-model="folios_imp" value="2000" min="0" id="folios_imp" name="folios_imp">
		            </div>
		        </div>
		        <div class="grid-x grid-padding-x">
	            	<div class="small-12 cell">
	                	<h5>Expedientes de Impugnación</h5> 
	              	</div>
	            </div>
		        <div class="grid-x grid-padding-x" id="expediente1">
		            <div class="medium-4 small-12 cell">
		              	<label>Número de Expediente:</label>
		              	<input type="text" id="num_expediente1" name="num_expediente1" ng-model="num_expediente1">
		            </div>

		            <div class="medium-4 small-12 cell">
		              	<label>Folios:</label>
		              	<input type="number" ng-model="num_folios_expediente1" value="0" min="0" id="num_folios_expediente1" name="num_folios_expediente1">
		            </div>
		        </div>
	       	</div>

            <div class="grid-x grid-padding-x ultimo_parametro">
	            <div class="medium-6 small-12 cell medium-offset-3">
	                <label>Tipo de Fecha</label>
	                <input type="radio" name="tipo_fecha" value="actual" id="tf_actual" ng-model="tipo_fecha" checked><label for="tf_actual">Actual</label>
	                <input type="radio" name="tipo_fecha" value="personalizada" id="tf_personalizada" ng-model="tipo_fecha"><label for="tf_personalizada">Personalizada</label>
	            </div>
	        </div>

	        <div id="fecha_personalizada_box" ng-show="tipo_fecha=='personalizada'">
		        <div class="grid-x grid-padding-x">  	
		            <div class="medium-3 small-12 cell">
			            <label>Fecha de Entrada:</label>
						<input type="date" id="fecha_entrada" name="fecha_entrada" ng-model="fecha_entrada">
			        </div>

			       	<div class="medium-3 small-12 cell">
			            <label>Hora:</label>
			            <input id="hora_entrada" name="hora_entrada" type="number" value="1" min="1" max="12" ng-model="hora_entrada">
			        </div>

			        <div class="medium-3 small-12 cell">
			            <label>Minutos:</label>
			            <input id="minuto_entrada" name="minuto_entrada" type="number" value="0" min="0" max="59" ng-model="minuto_entrada">
			        </div>

			        <div class="medium-3 small-12 cell">
			            <label>AM/PM:</label>
			            <select id="ampm" name="ampm" ng-model="ampm">
					        <option value="am">AM</option>
					        <option value="pm">PM</option>
			           	</select>
			        </div>
		        </div>
	       	</div>
           
	        <div class="grid-x grid-padding-x">
	        	<fieldset class="medium-2 small-6 cell medium-offset-4">
	      			<button class="button" type="button" id="atras_btn" onclick="window.history.back();">Atras</button>
	   			</fieldset>
		        <fieldset class="medium-2 small-6 cell">
	      			<button class="button" type="submit" value="Submit" id="registrar_btn" ng-click="validarFormulario()">Registar</button>
	   			</fieldset>
   			</div>
        </form>

		<footer>
			
		</footer>
		
		<script src="../../js/vendor/jquery.js"></script>
	    <script src="../../js/vendor/what-input.js"></script>
	    <script src="../../js/vendor/foundation.js"></script>
	    <script src="../../js/app.js"></script>
	    <script src="../../js/header.js"></script>
	    <script src="../../js/footer.js"></script>
	    <script src="../../js/barraMenu.js" type="text/javascript"></script>
	    <script src='../../loading-bar/loading-bar.min.js' type='text/javascript'></script>
	    <script src="../../js/applications/formApp.js" type="text/javascript"></script>
	    <script src="../../js/services/formUtilities.js" type="text/javascript"></script>
	    <script src="../../js/services/urlUtility.js" type="text/javascript"></script>
	    <script src="../../js/controllers/formularios/patronatos/ficha_entrada_patronato.js"></script>
	    <script type="text/javascript">

	    	window.onload = function(){
	    		loadHeader();
	    		loadFooter();

	    	}
	    </script>

	</body>
</html>