<!DOCTYPE html>
<html  lang="es">
	<head>
		<title>Gerencia Legal</title>
		<meta name="author" content="Shirley Claudette Martínez">
		<meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="icon" type="image/png" href="../../images/logo_amdc.png">
	    <link rel="stylesheet" href="../../css/foundation.css">
	    <link rel="stylesheet" href="../../css/app.css">
	    <link rel="stylesheet" href="../../css/header.css">
	    <link rel="stylesheet" href="../../css/footer.css">
	    <link rel="stylesheet" href="../../css/formulario_fichas.css">
	    <link rel='stylesheet' href='../../loading-bar/loading-bar.min.css' type='text/css' media='all' />
	    <script src="../../js/angular.min.js"></script>
  </head>

	<body>
		<header>
		</header>

		<div class="title-bar" data-responsive-toggle="gsl-menu" data-hide-for="medium">
				<button class="menu-icon" type="button" data-toggle></button>
			  	<div class="title-bar-title">Menu</div>
			</div>

		<div class="top-bar" id="gsl-menu">
			<div class="top-bar-left">
			    <ul class="dropdown menu" data-dropdown-menu>
			      	<li style="flex-basis: 60px" title="inicio">
			      		<a href="../../index.html"><span><img src="../../images/blue-home-icon.png" width="100%"></span></a>
			      	</li>
			      	<li class="has-submenu">
			        	<a href="#0">Crear ficha de entrada</a>
					    <ul class="submenu menu vertical" data-submenu>
						    <li><a href="nueva_ficha_expedientes.html#titulo_registro">De expedientes</a></li>
						    <li><a href="../opiniones/nueva_ficha_opiniones.html#titulo_registro">De opiniones</a></li>
						    <li><a href="../patronatos/nueva_ficha_patronatos.html#titulo_registro">De patronatos</a></li>
					    </ul>
					</li>
					<li><a href="#0">Dar seguimiento</a>
					    <ul class="submenu menu vertical" data-submenu>
						    <li><a href="../../seguimiento/seguimiento_expedientes.html#titulo_seguimiento">A expedientes</a></li>
						    <li><a href="../../seguimiento/seguimiento_opiniones.html#titulo_seguimiento">A opiniones</a></li>
						    <li><a href="../../seguimiento/seguimiento_patronatos.html#titulo_seguimiento">A patronatos</a></li>
					    </ul>
					</li>
					<li><a href="../../buscar.html">Buscar</a></li>
					<li><a href="../../archivar.html">Archivar</a></li>
					<li><a href="../../modulo_administrador.html">Opciones de Administrador</a></li>
			    </ul>
			</div>	
		</div>

			<!--------------------------Fin del top Bar--------------------------------------------------->
			<div class="grid-container grid-padding-x">
      			<div class="grid-x grid-padding-x">
        			<div class="large-12 cell">
          				<h3 id="titulo_formulario">Asignación de Expedientes</h3>
        			</div>
      			</div>
      		</div>

      		<form class="grid-container grid-padding-x" ng-app="formApp" ng-controller="formCtrl">
      			<div class="grid-x grid-padding-x">
        			<div class="large-12 cell">
          				<h5>Expedientes a asignar: <h6>{{numExpedientes}}</h6></h5>
        			</div>
      			</div>
      			<div class="grid-x grid-padding-x">
        			<div class="large-12 cell">
          				<h6 id="titulo_mod">Formulario de Modificación</h6>
        			</div>
      			</div>
      			<div class="grid-x grid-padding-x">
              		<div class="medium-6 small-12 cell medium-offset-3">
              			<label>Abogada(o) Asignada(o):</label>
                		<select id="abogado_asignado_select" name="abogado_asignado_select" ng-model="abogado_asignado_select" ng-options="x.nombreEmpleado for x in abogadoAsignadoList">
                		</select>
              		</div>
            	</div>
            	<div class="grid-x grid-padding-x ultimo_parametro">	
					<div class="medium-6 small-12 cell medium-offset-3">
						<label>Fecha de Asignación:</label>
						<input type="date" id="fecha_asignacion" name="fecha_asignacion" ng-model="fecha_asignacion">
					</div>
				</div>
            
   				<div class="grid-x grid-padding-x">
	        		<fieldset class="medium-2 small-6 cell medium-offset-4">
	      				<button class="button" type="button" id="atras_btn" onclick="window.history.back();">Atras</button>
	   				</fieldset>
		        	<fieldset class="medium-2 small-6 cell">
	      				<button class="button" type="submit" value="Submit" id="asignar_btn" ng-click="validarFormulario()">Asignar</button>
	   				</fieldset>
   				</div>
          	</form>

		<footer>	
		</footer>
		
		<script src="../../js/vendor/jquery.js"></script>
	    <script src="../../js/vendor/what-input.js"></script>
	    <script src="../../js/vendor/foundation.js"></script>
	    <script src="../../js/app.js"></script>
	    <script src="../../js/header.js"></script>
	    <script src="../../js/footer.js"></script>
	    <script src="../../js/barraMenu.js" type="text/javascript"></script>
	    <script src='../../loading-bar/loading-bar.min.js' type='text/javascript'></script>
	    <script src="../../js/applications/formApp.js" type="text/javascript"></script>
	    <script src="../../js/services/formUtilities.js" type="text/javascript"></script>
	    <script src="../../js/services/urlUtility.js" type="text/javascript"></script>
	    <script src="../../js/controllers/formularios/expedientes/ficha_asignacion_expediente.js"></script>
	    <script type="text/javascript">

	    	window.onload = function(){
	    		loadHeader();
	    		loadFooter();

	    	}
	    </script>

	</body>
</html>