#buscador_principal {
	margin-top: 2vh;
}

#search_btn {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}

#menu_lateral {
	background: linear-gradient(90deg, #e6e6e6, #f2f2f2);
}

#titulo_menu_lateral {
	text-align: center;
	font-size: 1.5em;
	padding: 4%;
}

.accordion-content {
	background: linear-gradient(90deg, #e6e6e6, #f2f2f2);
}

.administration_param {
	padding-bottom: 4%;
}

#menu_fichas, #menu_comunidad {
	padding-top: 30px;
}

#tabla_fichas {
	margin-top: 20px;
}

.with-margin-bottom {
	margin-bottom: 20px;
}

.alerta {
	color: #990000;
	text-align: center;
}

