#buscador_principal {
	margin-top: 2vh;
}



#search_btn {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}

#menu_lateral {
	background: linear-gradient(90deg, #e6e6e6, #f2f2f2);
}

#titulo_menu_lateral {
	text-align: center;
	font-size: 1.5em;
	padding: 4%;
}

.search_param {
	padding-bottom: 4%;
}

#titulo_menu_fecha {

}

.accordion-content {
	background: linear-gradient(90deg, #e6e6e6, #f2f2f2);
}

.button.secondary {
    background-color: #9e9e9e;
    color: #fefefe;
}


.ver_btn {
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;

}

/************************************************************************/
/*******************************Paginación*******************************/
/************************************************************************/
.pagination button {
	background-color: #ffffff;
}

.pagination {
  display: inline-block;
}

.pagination button, .pagination span, .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination button.active {
  background-color: #1779ba;
  color: white;
  border: 1px solid #1779ba;
}

.pagination button:hover:not(.active) {background-color: #ddd;}