header {
	background-image: url("/images/fondo1.jpg");
	background-size: cover;
	height: 80vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
header h1 {
	font-weight: bold;
	text-align: center;
	margin-left: 2vw;
	margin-right: 2vw;
	color: #00004d;
}

header img {
	margin-right: 2vw;
}

#gsl-menu, #gsl-menu *{
	background-color: #ccddff;
}

#img-icon {
	margin: 0;
	padding: 0;
	position: inline;
}

#img-user {
	margin-right: 4px;
}

#userOptions {
	float: right;
}

.menu a, .menu .button {
    line-height: 2;
}
